// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'DM Sans';
$font-size-base: 1rem;
$line-height-base: 1.6;

:root {
    --bs-breadcrumb-divider: '>';
    --bs-body-bg: '#ffffff' !important;
}

// Colors
$navigationColor: #000000;
$text_color: #000000;
$admingraybackground: #fafafa;

$primary_tint_1: #2A2A2A;
$primary_tint_2: #808080;
$primary_tint_3: #B3B3B3;
$primary_tint_4: #dee2e6;
$primary_tint_5: #F4F4F4;

$secondary_tint_1: #7A5921;
$secondary_tint_2: #A48043;
$secondary_tint_3: #ab8f54;
$secondary_tint_4: #B49764;
$secondary_tint_5: #B79B6C;

$succes_tint_1: #268217;
$succes_tint_2: #34a134;
$succes_tint_3: #3FD926;
$succes_tint_4: #8CE87D;
$succes_tint_5: #D9F7D4;

$warning_tint_1: #907A09;
$warning_tint_2: #C0A30C;
$warning_tint_3: #F0CC0F;
$warning_tint_4: #F6E06F;
$warning_tint_5: #FCF5CF;

$error_tint_1: #821717;
$error_tint_2: #AE1E1E;
$error_tint_3: #e3342f;
$error_tint_4: #E87D7D;
$error_tint_5: #F7D4D4;

$info_tint_1: #235681;
$info_tint_2: #3075AE;
$info_tint_3: #488EC8;
$info_tint_4: #76ACD9;
$info_tint_5: #A7CFF0;
