// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Palanquin', sans-serif;
//$font-family-heading: 'Euclid Flex', sans-serif;

//$font-family-sans-serif: 'Graphik', sans-serif;
//$font-family-heading: 'Produkt', sans-serif;
$font-family-sans-serif: 'DM Sans';
$font-family-heading: 'DM Sans';
$font-front: 'DM Sans';
$font-size-base: 1rem;
$line-height-base: 1.6;

:root {
    --bs-breadcrumb-divider: '>';
    --bs-body-bg: '#ffffff' !important;
}

// OldColors
//$bluegreen: #0098B3;
//$bluegreen: rgb(0, 0, 164);
//$darkblue: #00779B;
//$darkblue: rgb(0, 0, 164);
//$blue: #488EC8;
//$blue: rgb(0, 0, 164);
// Colors
//$bluegreen: #0098B3;
$bluegreen: #B49764;
//$darkblue: #00779B;
$darkblue: #B49764;
//$blue: #488EC8;
$blue: #B49764;
$blueHover: #ab8f54;
$navigationColor: #000000;
$brown: #322923;
$admingraybackground: #fafafa;

$primary_tint_1: #DFDFDF;
$primary_tint_2: #E8E8E8;
$primary_tint_3: #F3F3F3;
$primary_tint_4: #FBFBFB;
$primary_tint_5: #FFFFFF;

$secondary_tint_1: #ECD9BB;
$secondary_tint_2: #DBC195;
$secondary_tint_3: #B79B6C;
$secondary_tint_4: #A48043;
$secondary_tint_5: #7A5921;

$gray_tint_1: #F4F4F4;
$gray_tint_2: #B3B3B3;
$gray_tint_3: #808080;
$gray_tint_4: #666666;
$gray_tint_5: #4D4D4D;

$front_text_color: #000000;

//Standard colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
