/* 
   Variables
*/
/* 
   HTML elements 
*/
body {
  background-color: #dcdbdb;
  font-family: "DM Sans", sans-serif !important;
  /* 
     Table styling
  */
  /* 
     Table colors
  */
  /* 
     Table buttons
  */
  /* 
     Table input fields
  */
  /* 
     Table selections
  */
}
body td {
  border-right: 2px solid #024913;
  width: 100px;
}
body th {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
body h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
}
body h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 48px;
}
body h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
}
body h4 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
body h5 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}
body h6 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
body p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* 
     Table text
  */
}
body p.body-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
body p.body-small {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
body p.body-small-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
}
body p.body-extra-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}
body .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-decoration: underline;
  /* visited link */
  /* mouse over link */
}
body .link.visited {
  color: green;
}
body .link:hover {
  cursor: pointer;
  color: #B79B6C;
}
body td {
  width: 300px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
body td + td {
  width: 400px;
}
body td + td + td {
  width: 700px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
body .cel-position {
  text-align: center;
}
body .styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 2000px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border: 3px solid #024913;
  font-family: "DM Sans";
}
body .styled-table.styled-table thead tr {
  background-color: #dfe5e1;
  color: black;
  text-align: center;
}
body .styled-table.styled-table th, body .styled-table.styled-table td {
  padding: 12px 15px;
}
body .styled-table.styled-table tbody tr {
  border-bottom: 1px solid #dfe5e1;
}
body .styled-table.styled-table tbody tr:nth-of-type(odd) {
  background-color: white;
}
body .styled-table.styled-table tbody tr:nth-of-type(even) {
  background-color: rgba(253, 251, 251, 0.9725490196);
}
body .styled-table.styled-table tbody tr:first-of-type {
  border-top: 2px solid #024913;
}
body .info-row-position {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-right: none;
}
body .info-col-1 {
  margin-right: 100px;
}
body .pallete-colors {
  padding: 10px 0 0 10px;
  height: 35px;
  color: transparent;
  /* primary colors */
  /* secondary colors */
  /* warning colors */
  /* errors colors */
  /* info colors */
  /* succes colors */
}
body .pallete-colors.primary-lightest {
  background: #ECD9BB;
}
body .pallete-colors.primary-lighter {
  background-color: #DBC195;
}
body .pallete-colors.primary-basis {
  background-color: #B79B6C;
}
body .pallete-colors.primary-darker {
  background-color: #A48043;
}
body .pallete-colors.primary-darkest {
  background-color: #7A5921;
}
body .pallete-colors.secondary-lightest {
  background-color: black;
  opacity: 20%;
}
body .pallete-colors.secondary-lighter {
  background-color: black;
  opacity: 40%;
}
body .pallete-colors.secondary-basis {
  background-color: black;
  opacity: 60%;
}
body .pallete-colors.secondary-darker {
  background-color: black;
  opacity: 80%;
}
body .pallete-colors.secondary-darkest {
  background-color: black;
  opacity: 100%;
}
body .pallete-colors.warning-lightest {
  background-color: #FCF5CF;
}
body .pallete-colors.warning-lighter {
  background-color: #F6E06F;
}
body .pallete-colors.warning-basis {
  background-color: #F0CC0F;
}
body .pallete-colors.warning-darker {
  background-color: #C0A30C;
}
body .pallete-colors.warning-darkest {
  background-color: #907A09;
}
body .pallete-colors.error-lightest {
  background-color: #F7D4D4;
}
body .pallete-colors.error-lighter {
  background-color: #E87D7D;
}
body .pallete-colors.error-basis {
  background-color: #D92626;
}
body .pallete-colors.error-darker {
  background-color: #AE1E1E;
}
body .pallete-colors.error-darkest {
  background-color: #821717;
}
body .pallete-colors.info-lightest {
  background-color: #A7CFF0;
}
body .pallete-colors.info-lighter {
  background-color: #76ACD9;
}
body .pallete-colors.info-basis {
  background-color: #488EC8;
}
body .pallete-colors.info-darker {
  background-color: #3075AE;
}
body .pallete-colors.info-darkest {
  background-color: #235681;
}
body .pallete-colors.succes-lightest {
  background-color: #D9F7D4;
}
body .pallete-colors.succes-lighter {
  background-color: #8CE87D;
}
body .pallete-colors.succes-basis {
  background-color: #3FD926;
}
body .pallete-colors.succes-darker {
  background-color: #32AE1E;
}
body .pallete-colors.succes-darkest {
  background-color: #268217;
}
body .button {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 11px 7px 11px;
  width: 140px;
  height: 40px;
}
body .button.button-primary {
  background-color: #b49764;
  color: white;
  border: none;
}
body .button.button-primary.button-primary:hover {
  background-color: #ab8f54;
  cursor: pointer;
}
body .button.button-secondary {
  background-color: white;
  color: #b49764;
  border: 1px solid #b49764;
}
body .button.button-secondary.button-secondary:hover {
  background-color: rgba(253, 251, 251, 0.9725490196);
  cursor: pointer;
}
body .button.button-tertiary {
  background-color: black;
  color: white;
  border: none;
}
body .button.button-tertiary.button-tertiary:hover {
  background-color: #B79B6C;
  cursor: pointer;
}
body table:nth-child(3) tbody tr:nth-child(4) td:nth-child(2) {
  background-color: #fcf6d7;
}
body .main-header-frontend {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  z-index: 100;
  position: relative;
}
body .main-header-frontend .social-media-header {
  background-color: #f4f4f4;
  padding: 10px 0;
}
body .main-header-frontend .main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 26px 0;
  height: 51px;
}
body .main-header-frontend .main-header ul {
  list-style-type: none;
  display: flex;
  margin: 0px;
  padding: 0px;
  margin-left: 4px;
}
body .main-header-frontend .main-header ul li {
  margin: 0 18px;
  overflow: hidden;
}
body .main-header-frontend .main-header ul li a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  position: relative;
  transition: all 300ms;
  overflow: hidden;
}
body .main-header-frontend .main-header ul li a:hover {
  color: #B79B6C;
  cursor: pointer;
}
body .main-header-frontend .main-header ul li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: #B79B6C;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}
body .main-header-frontend .main-header ul li a.menu-active::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
body .main-header-frontend .main-header ul li a:hover::after, body .main-header-frontend .main-header ul li a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
body .main-header-frontend .main-header a {
  text-decoration: none;
}
body .main-frontend {
  background-color: white;
  z-index: -100;
  height: 40px;
  width: 100%;
}
body table:nth-child(3) tbody tr:nth-child(6) td:nth-child(2) {
  background-color: #fcf6d7;
}
body .navbar {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 0;
  height: 51px;
}
body .navbar .nav-items-position {
  padding: 8px;
}
body .navbar .nav-items-position .nav-item .nav-link {
  color: white;
  font-size: 1rem;
  padding: 8px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}
body .navbar .nav-items-position .nav-item :hover {
  cursor: pointer;
}
body .section-under-navbar {
  background-color: white;
  height: 40px;
  width: 100%;
}
body table:nth-child(3) tbody tr:nth-child(7) td:nth-child(2) {
  background-color: #fcf6d7;
}
body .sub-header-backend {
  border-bottom: 2px solid #e6e6e6;
  z-index: 100;
  position: relative;
}
body .sub-header-backend .sub-header {
  display: flex;
  justify-content: center;
  background-color: white;
}
body .sub-header-backend .sub-header ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
body .sub-header-backend .sub-header ul li a {
  padding: 10px 14px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 2px solid white;
}
body .sub-header-backend .sub-header ul li a.tab-disabled {
  color: #b9b9b9;
}
body .sub-header-backend .sub-header ul li a.menu-active, body .sub-header-backend .sub-header ul li a:not(.tab-disabled):hover {
  color: #B79B6C;
  border-color: #B79B6C;
  cursor: pointer;
}
body .main-backend {
  background-color: #fafafa;
  z-index: -100;
  height: 24px;
  width: 100%;
}
body .input {
  padding: 7px 17px;
  border-radius: 2px;
  border: 1px solid #B3B3B3;
  height: 24px;
  color: #212529;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
body .input:focus {
  border-color: #b49764;
  outline: 0px;
  box-shadow: 0px 0px 0px 3px #ECD9BB;
}
body .product-overview-variations {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
body .product-overview-variations .product-overview-variation-item {
  width: 27px;
  height: 27px;
  border: 1px solid white;
  margin-right: 12px;
  position: relative;
  transition: all 0.1s;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
body .product-overview-variations .product-overview-variation-item:hover {
  border-color: #B3B3B3;
}
body .product-overview-variations .product-overview-variation-item .variation-select {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
body .product-overview-variations .product-overview-variation-item .variation-select.hidden {
  display: none;
}
body .product-overview-variations .product-overview-variation-item img {
  width: 21px;
  height: 21px;
}
body .product-overview-variations .product-overview-variation-item svg {
  width: 10px;
  fill: none;
}
body .product-overview-variations .product-overview-variation-item svg path {
  fill: white;
}
body .product-overview-variations.product-overview-variations-big .product-overview-variation-wrapper {
  width: 128px;
  margin-right: 12px;
}
body .product-overview-variations.product-overview-variations-big .product-overview-variation-wrapper .product-overview-variation-item {
  width: 128px;
  height: 128px;
  margin-right: 0px;
}
body .product-overview-variations.product-overview-variations-big .product-overview-variation-wrapper .product-overview-variation-item img {
  width: 122px;
  height: 122px;
}
body .product-overview-variations.product-overview-variations-big .product-overview-variation-wrapper .product-overview-variation-item svg {
  width: 34px;
  fill: none;
}
body .product-overview-variations.product-overview-variations-big .product-overview-variation-wrapper .product-overview-variation-item svg path {
  fill: white;
}

/*# sourceMappingURL=index.css.map */
