.header {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);

    .sub_header {
        background-color: $primary_tint_5;
        padding: 10px 0;

        a {
            text-decoration: none;
        }
    }

    .main_header {
        padding: 26px 0;

        ul {
            list-style: none;

            li {
                margin: 0 18px;
                overflow: hidden;

                a {
                    @extend .font4;
                    font-weight: normal !important;
                    text-decoration: none;
                    color: $text_color;
                    position: relative;
                    transition: all 300ms;
                    overflow: hidden;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -3px;
                        left: 0;
                        width: 100%;
                        height: 0.1em;
                        background-color: $secondary_tint_5;
                        opacity: 0;
                        transition: opacity 300ms, transform 300ms;
                        transform: translate3d(-100%, 0, 0);
                    }

                    &.menu-active {
                        &::after {
                            opacity: 1;
                            transform: translate3d(0, 0, 0);
                        }
                    }

                    &:hover {
                        color: $secondary_tint_5;
                    }

                    &:hover::after,
                    &:focus::after {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }
            }
        }

        a {
            text-decoration: none;
        }
    }
}

.breadcrumbs {
    height: 123px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .breadcrumb-item {
        @extend .font5;
        @extend .text-hover-brown;
        @extend .fw-medium;
        padding: 0;
        margin: 0;

        &::before {
            padding-left: 10px;
            padding-right: 10px;
            color: $primary_tint_2;
        }

        &.active {
            color: $primary_tint_2;
        }
    }
}

.heading-icons {
    svg {
        &:hover {
            path {
                fill: $secondary_tint_5;
            }
        }
    }
}

.languageselector {
    @extend .font5;
    color: $text_color;
    font-weight: bold;
    text-transform: uppercase;

    .splitter {
        margin: 0 20px;
    }
}

.search-bar {
    svg {
        margin-left: 13px;
        margin-right: 13px;
    }
    input {
        @extend .font5;
        padding-left: 41px;
    }
}
