.product_filter {
    input[type="radio"]:not(.filter-block-color),
    input[type="checkbox"]:not(.filter-block-color) {
        -webkit-appearance: none;
        appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid $primary_tint_4;
        border-radius: 50%;
        background: white no-repeat center center;
    }

    input:where([type="checkbox"]):where(:active:not(:disabled), :focus, :not(.filter_block-color)),
    input:where([type="radio"]):where(:active:not(:disabled), :focus, :not(.filter_block-color)) {
        border-color: none;
        outline: none;
    }

    input:where([type="checkbox"]):not(.filter_block-color):disabled,
    input:where([type="radio"]):not(.filter_block-color):disabled {
        background: $primary_tint_5;
    }

    input[type="checkbox"]:not(.filter_block-color),
    input[type="radio"]:not(.filter_block-color) {


    }

    input[type="checkbox"]:not(.filter_block-color),
    input[type="radio"]:not(.filter_block-color) {
        background-size: 0;
        cursor: pointer;
    }

    .colorcheckbox {
        border: 1px solid white;
        padding: 2px;
        border-radius: 50%;
        width: 30px;
        height: 30px;

        &:hover {
            border-color: $primary_tint_3;
        }

        &.white {
            input, div {
                border: 1px solid $primary_tint_2;
            }
        }
    }

    input[type="checkbox"]:not(.filter_block-color):checked,
    input[type="radio"]:not(.filter_block-color):checked {
        //background-image: url('/public/images/checkbox.svg');
        background-size: 10px 10px;
        background-repeat: no-repeat;
        background-position: center center;
    }

    label {
        font-weight: normal;
    }

    .activeFilter {
        @extend .font-5;
        flex-wrap: wrap;
        gap: 10px;

        a {
            color: white;
            flex-grow: 0;
            flex-shrink: 0;
            padding: 7px 13px 7px 20px;
            background-color: $secondary_tint_5;
            border-radius: 50px;

            &:hover {
                background-color: black;
            }
        }
    }

    hr {
        background-color: $primary_tint_5;
        opacity: 1;
        margin: 15px 0 13px 0;
    }

    .clear-filters-button {
        @extend .font-5;
        text-decoration: underline;
        font-weight: normal;

        &:hover {
            color: $secondary_tint_5;
        }
    }

    .filter_block {
        margin-bottom: 41px;

        .filter_block-heading {
            @extend .font-3;
            margin-bottom: 19px;
            padding-right: 16px;
        }

        .filter_block-toggle {
            @extend .font-4;
            text-decoration: none;
            color: $text_color;
        }

        .filter_block-multiple_items {
            .filter_block-multiple_items-item {
                border-top: 1px solid $primary_tint_5;
                padding: 6px 16px;

                &:last-child {
                    border-bottom: 1px solid $primary_tint_5;
                }
            }
        }
    }

    .filter-level-2,
    .filter-level-3,
    .filter-level-4 {
        &:not(.no-hover):hover {
            color: $secondary_tint_5;
        }
    }

    .filter-level-2 {
        @extend .font-4;
        color: $text_color;

        &.filter-selected {
            color: $text_color;
            font-weight: bold;
        }
    }

    .filter-level-3 {
        @extend .font-4;
        @extend .fw-medium;
        padding-left: 31px !important;
        color: $primary_tint_2;

        &.filter-selected {
            color: $primary_tint_2;
            font-weight: bold;
        }
    }

    .filter-level-4 {
        @extend .font-5;
        color: $primary_tint_2;

        &.filter-selected {
            color: $primary_tint_2;
            font-weight: bold;
        }
    }

    .filter-level-4, .filter-level-5 {
        padding-left: 46px !important;

        &.latest-row {
            padding-left: 16px !important;
        }
    }

    .filter-level-5 {
        label {
            @extend .font-5;
            color: $text-color;

            &:hover {
                color: $secondary_tint_5;

                input {
                    border-color: black;
                }
            }

            &.filter-selected {
                color: $text-color;
                font-weight: bold;
            }
        }

        &.filter-selected {
            color: $text-color;
            font-weight: bold;

            label {
                font-weight: bold;
                color: $text-color;
            }
        }
    }

    .filter-level-6 {
        @extend .font6;
        color: $text_color;
    }

    .latest-row {
        label, input {
            cursor: pointer;
        }
    }

    .custom-checkbox {
        input[type="checkbox"] {
            position: relative;
            width: 15px;
            height: 15px;
            padding: 0;
            margin: 0 8px 0 0;
            border-radius: 50%;
            border: 1px solid $primary_tint_3;
            transition: border-color .15s linear 0s;
            appearance: none;
        }

        input[type="checkbox"]:checked {
            background-image: url('/public/images/checkbox-black.svg');
            background-repeat: no-repeat;
        }
    }

    .slider_wrapper {
        height: 17px;

        .slider {
            height: 7px;
            position: relative;
            background: $secondary_tint_5;
            border-radius: 5px;
        }

        .slider .progress {
            height: 100%;
            left: 25%;
            right: 25%;
            border-radius: 5px;
            background: $primary_tint_5;
            position: absolute;
        }

        .range-input {
            position: relative;
        }

        .range-input input {
            position: absolute;
            width: 100%;
            height: 5px;
            top: -5px;
            background: none;
            pointer-events: none;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        input[type="range"]::-webkit-slider-thumb {
            height: 17px;
            width: 17px;
            border-radius: 50%;
            background: $secondary_tint_5;
            pointer-events: auto;
            -webkit-appearance: none;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
        }

        input[type="range"]::-moz-range-thumb {
            height: 17px;
            width: 17px;
            border: none;
            border-radius: 50%;
            background: $secondary_tint_5;
            pointer-events: auto;
            -moz-appearance: none;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
        }

        .pos {
            position: absolute;
            background-color: $primary_tint_3;
            width: 1px;
            height: 7px;
            top: -7px;
        }
    }

}

.filter_block-colors {
    .colorcheckbox {
        display: inline-flex;
        width: 32px;
        height: 32px;
        position: relative;

        .filter_block-colors-color {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            appearance: none;
        }

        &.transparent {
            input {
                position: relative;

                &:after {
                    content: '';
                    width: 26px;
                    display: block;
                    height: 26px;
                    border-radius: 50%;
                    position: absolute;
                    z-index: -1;
                    background-repeat: no-repeat;
                    background: repeating-linear-gradient(
                            45deg,
                            white,
                            white 5px,
                            $primary_tint_2 5px,
                            $primary_tint_2 10px,
                    );
                }
            }
        }

        svg {
            position: absolute;
            top: 7.5px;
            left: 7.5px;
        }
    }
}
