@import 'header';
@import 'footer';
@import 'product_overview';
@import 'product_filter';
@import 'product_item';

.logincard {
    font-size: 14px;

    a {
        color: #00f;
    }
}

.form-control {
    padding: 7px 17px;
    border-radius: 2px;
    border-color: #B3B3B3;
}
