.product_overview_item {
    height: 100%;

    .product_overview_item-image-wrapper {
        position: relative;
        display: block;

        img.product_overview_item-image {
            margin-bottom: 20px;
        }

        .product_overview_item-image-wrapper-hover {
            opacity: 0;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 20px;
            //height: 100%;
            transition: all 100ms;
            transition-timing-function: ease-out;

            &-top {
                top: 0;
                left: 0;
                width: calc(100% - 40px);
            }

            &-bottom {
                bottom: 0;
                //top: 50%;  /* position the top  edge of the element at the middle of the parent */
                left: 50%;
                transform: translate(-50%);
                display: inline-flex;
                margin: 0 0 40px 0;
            }

            .product_overview_item-image-wrapper-supplier {
                background-color: white;
                border-radius: 8px;
                padding: 20px;
                width: 100%;

                a {
                    color: $front_text_color;
                    font-weight: 400;
                }

                a.product_overview_item-image-wrapper-supplier-name {
                    @include fontSize(22, 24);
                    color: $front_text_color;
                    display: block;
                    margin-top: 4px;
                    font-weight: 700;
                    text-decoration: underline;

                    &:hover {
                        color: $secondary-tint-3;
                    }
                }
            }
        }
    }

    &:hover {
        .product_overview_item-image-wrapper-hover {
            opacity: 1;
        }
    }

    .product_overview_item-image-wrapper-buttons {
        text-align: center;
        width: 100%;

        .product_overview-button {
            width: 59px;
            height: 59px;
            border-radius: 50%;
            background-color: #000000;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 3px;
            //transition: all 200ms;
            //transition-timing-function: ease-out;

            &:hover {
                background-color: $secondary_tint_3;
            }
        }
    }

    .product_overview-title {
        @include fontSize(22, 24);
        font-weight: bold;
    }

    .product_overview-price {
        color: $gray_tint_4;
    }

    .product_overview-top {
        margin-bottom: 7px;
    }

    .product_overview-bottom {
        margin-top: auto;
        padding-bottom: 55px;
    }
}

.product_overview-variations {
    margin-top: 20px;

    .product_overview-variation_item {
        width: 27px;
        height: 27px;
        border: 1px solid white;
        margin-right: 12px;
        position: relative;
        transition: all 0.1s;

        &:hover {
            border-color: #B3B3B3;
        }

        .variation_select {
            position: absolute;
            //background-color: rgba(0,0,0,0.1);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        img {
            width: 21px;
            height: 21px;
        }
    }

    &.product_overview-variations-big {
        .product_overview-variation_wrapper {
            width: 128px;
            margin-right: 12px;

            .product_overview-variation_item {
                width: 128px;
                height: 128px;
                margin-right: 0px;

                img {
                    width: 122px;
                    height: 122px;
                }
            }

            p {
                @include fontSize(16, 26);
                font-weight: 400;
                width: 100%;
                text-align: center;
            }
        }
    }
}


.product_item {

    &-title {
        border-bottom: 1px solid #F4F4F4;
        width: 100%;
        padding-bottom: 40px;
        margin-bottom: 30px;
        cursor: pointer;

        &.not-expaned {
            cursor: default;
        }

        &-gray {
            border-color: #B3B3B3
        }
    }

    &-brand {
        @include fontSize(22, 28);
    }

    &-information {
        padding-left: 57px;
        @include fontSize(18, 28);

        hr {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    &-slogan {
        @include fontSize(18, 28);
        font-style: italic;
        font-weight: bold;
        margin-top: 18px;
        color: $gray_tint_5;
    }

    &-description_short {

    }

    &-options {
        font-weight: 500;
        color: $front_text_color;

        a {
            text-decoration: none;
            color: inherit;
        }

        hr {
            margin-top: 15px;
            margin-bottom: 15px;
            background-color: #F4F4F4;
        }
    }

    &-actions {
        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            background-color: $primary_tint_3;
            border-radius: 100%;
            margin-left: 7px;

            &:hover {
                background-color: black;
            }
        }
    }
}

.product_properties-item {
    border-top: 1px solid #F4F4F4;
    padding-top: 14px;
    padding-bottom: 14px;

    p {
        margin-bottom: 0;
    }

    &:last-child {
        border-bottom: 1px solid #F4F4F4;
    }

    .product-properties-items {
        gap: 32px;
    }
}

.product_item-description_long {
    @include fontSize(18, 30);
}

.column_split {
    -webkit-columns: 40px 2;
    /* Chrome, Safari, Opera */
    -moz-columns: 60px 2;
    /* Firefox */
    columns: 60px 2;
}

.product_item-brand_block {
    margin-top: 147px;
    background-color: $gray_tint_1;
    padding-top: 159px;
    padding-bottom: 112px;

    h2 {
        @include fontSize(44, 48);
    }

    &-img-wrapper {
        width: 95px;
        height: 95px;
        background-color: white;
        padding: 8px;
    }
}

.product_item-supplier {
    background-color: white;
    border: 1px solid #B3B3B3;
    padding: 44px 60px;
}

.favorite_login-popup {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1030;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;

    &-wrapper {
        align-self: center;
        background-color: white;
        padding: 20px 25px;
    }
}
