$base: 16;

@function calculateRem($size) {
    $remSize: calc($size / $base);
    @return #{$remSize}rem;
}

@mixin fontSize($size, $line_height) {
    font-size: #{$size}px; //Fallback in px
    line-height: #{$line_height}px; //Fallback in px
    font-size: calculateRem($size);
    line-height: calculateRem($line_height);
}

html {
    font-size: #{$base}px;
    font-family: $font-front;
}

body {
    @include fontSize(18, 26);
    font-family: $font-front;
    font-weight: 400;
    color: $front_text_color;
    background-color: #FFFFFF;
}

// Mixins to generate the 1/5 columns
@mixin make-five-column($gutter: $grid-gutter-width, $breakpoint: $screen-sm-min) {
    position: relative;
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);

    @media (min-width: $breakpoint) {
        float: left;
        width: 20%;
    }
}

.col-md-5th {
    flex: 0 0 auto;
    width: 20%;
}


hr {
    opacity: 1;
    border-color: #F4F4F4;
}

@for $i from 6 through 200 {
    .mt-#{$i} {
        margin-top: #{$i}px !important;
    }
    .me-#{$i} {
        margin-right: #{$i}px !important;
    }
    .ms-#{$i} {
        margin-left: #{$i}px !important;
    }
    .mb-#{$i} {
        margin-bottom: #{$i}px !important;
    }

    .pt-#{$i} {
        padding-top: #{$i}px !important;
    }
    .pe-#{$i} {
        padding-right: #{$i}px !important;
    }
    .ps-#{$i} {
        padding-left: #{$i}px !important;
    }
    .pb-#{$i} {
        padding-bottom: #{$i}px !important;
    }
}

.font-small {
    @include fontSize(16, 26);
}

.font-extra-small {
    @include fontSize(12, 22);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $front_text_color;
    text-decoration: none;
    font-weight: 500;

    &.green-a {
        color: #1DA1AF;
    }
}

.bigfont {
    @include fontSize(64, 74);
    font-family: $font-front;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-front;
    font-weight: bold;
    margin-bottom: 0;
}

h1 {
    @include fontSize(44, 48);
}

h2 {
    @include fontSize(38, 48);
}

h3 {
    @include fontSize(32, 38);
}

h4 {
    @include fontSize(28, 34);
}

h5 {
    @include fontSize(22, 28);
}

.color-blue {
    color: $blue;
}

.bg-light {
    background-color: #f7f7f7 !important;
}

.btn-ss {
    //text-transform: uppercase;
    font-family: $font-family-sans-serif;
    //font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.44rem 0.667rem;
    align-content: center;
    border-radius: 0;
}

.btn-black {
    //text-transform: uppercase;
    font-family: $font-family-sans-serif;
    //font-weight: bold;
    font-size: 1rem;
    line-height: 1.5;
    padding: 14px 22px;
    align-content: center;
    border-radius: 0;
    background-color: black;
    color: white;
    transition: all 200ms;
    transition-timing-function: ease-out;

    &-small {
        @include fontSize(12, 12);
    }

    &:hover {
        background-color: $secondary_tint_3;
        color: white;
    }
}

.btn-blue {
    @extend .btn;
    @extend .btn-ss;

    background-color: $blue;
    color: white;
    box-shadow: rgb(10 10 10 / 25%) 0px 4px 0px -2px;

    &:hover {
        color: white;
        background-color: $blueHover;
    }
}

.btn-red {
    @extend .btn;
    @extend .btn-ss;

    background-color: red;
    color: white;
    box-shadow: rgb(10 10 10 / 25%) 0px 4px 0px -2px;

    &:hover {
        color: white;
        background-color: red;
    }
}

.btn-white {
    @extend .btn;
    @extend .btn-ss;

    border-color: $blue;
    color: $blue;
    background-color: white; 
    white-space: nowrap;
    transition: all 150ms ease-in-out 0s;

    &:hover {
        color: $blue;
        border-color: $blue;
        background-color: rgb(240, 246, 255);
    }

    &.filter {
        border-color: rgb(200, 200, 200);
        color: rgb(51, 51, 51);

        &:hover {
            background-color: rgb(250, 250, 250);
        }

        svg {
            transition: all 150ms ease-in-out 0s;
            margin-right: 0px;
            width: 0px;
            transform: scale(0);
            opacity: 0;
        }
    }

    &.selected {
        &.filter {
            border-color: $blue;
            color: $blue;
            background-color: rgb(240, 246, 255);
        }

        svg {
            margin-right: 0.25rem;
            width: 1.5rem;
            transform: scale(1);
            opacity: 1;
        }
    }

    &.no-outline {
        outline: 0;
        box-shadow: none;

        &:hover, &:focus {
            outline: 0;
            box-shadow: none;
        }
    }
}

.btn-white-red {
    @extend .btn-white;
    color: red;
    border-color: red;

    &:hover {
        color: red;
        border-color: red;
    }
}

.btn-white-complete {
    @extend .btn;
    @extend .btn-ss;

    background-color: white;
    color: #121212;
}

.btn-disabled {
    background-color: white;
    color: grey;
    border-color: grey;

    &:hover {
        background-color: #e7e7e7;
        color: grey;
        border-color: grey;
    }
}

.table {
    margin-bottom: 0;

    tbody {
        tr:nth-child(odd) {
            td {
                background-color: $admingraybackground;
            }
        }
    }

    & > :not(:first-child) {
        border-color: #ebebeb;
        border-top: 1px;
    }

    tr {
        th {
            line-height: 1;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 0.875rem;
            color: rgb(51, 51, 51);
        }

        td, th {
            &:first-child {
                padding-left: 30px;
            }

            border-color: #ebebeb;
        }
    }
}

label {
    font-size: 0.875rem;
    font-weight: 600;
}

.languageinput {
    .languageswitcher {
        top: calc((100% - 20px) / 2);
        right: 10px;
    }
}

.ss-card {
    box-sizing: inherit;
    background-color: white;
    position: relative;
    box-shadow: rgb(10 10 10 / 5%) 0px 5px 0px -2px, rgb(10 10 10 / 5%) 0px 0px 0px 1px;
}

.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.alert-ss {
    background-color: $blue;
    margin-top: 80px;
}

.cursor-pointer {
    cursor: pointer;
}

.is-custom-invalid {
    border: 1px solid #e3342f;
    border-radius: 0.25rem;
}
