input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}
.input-range {
    position: absolute;
    pointer-events: none;
    appearance: none;
    z-index: 20;
    height: 7px;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.block-1 {
    position: relative;
    z-index: 10;
    height: 10px;
}

.full-line {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 7px;
    border-radius: 10px;
    background-color: $primary_tint_3;
}

.line-between {
    position: absolute;
    z-index: 20;
    top: 0;
    bottom: 0;
    height: 7px;
    border-radius: 10px;
    background-color: $secondary_tint_3;
}

input[type="range"]::-webkit-slider-thumb:hover {
    .range-tooltip {
        display: block;
    }
}

.dot-1, .dot-2 {
    position: absolute;
    z-index: 30;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    background-color: $secondary_tint_3;

    .range-tooltip {
        position: absolute;
        background-color: black;
        padding: 4px 4px;
        color: white;
        border-radius: 5px;
        top: -35px;
        font-size: 14px;
        line-height: 1;
        display: none;
    }

    &:hover {
        .range-tooltip {
            display: inline-block;
        }
    }
}

.dot-1 {
    margin-top: -5px;
    //margin-left: -5px;
}

.dot-2 {
    margin-top: -5px;
    //margin-right: -5px;
}
