.product_overview {
    &_variants {
        background-color: $secondary_tint_4;
        color: white;
        border-radius: 5px;
        padding: 5px 16px;
        margin-top: 8px;
    }
}

.progressline {
    background-color: $succes_tint_2;
    height: 4px;
    transition: width 0.3s ease-in-out;
}

.productperformance {
    .block {
        width: 10px;
        height: 10px;
        background-color: $primary_tint_3;
    }

    .redblock {
        background-color: red;
    }

    .orangeblock {
        background-color: orange;
    }

    .greenblock {
        background-color: green;
    }
}

.form-control.noreadonly {
    background-color: $primary_tint_5 !important;
}
