.product_overview {
    &_variants {
        background-color: $blue;
        color: white;
        border-radius: 5px;
        padding: 5px 16px;
        line-height: 1;
        margin-top: 8px;
    }
}

.progressline {
    background-color: #34a134;
    height: 2px;
    transition: width 0.3s ease-in-out;
}

.productperformance {
    .block {
        width: 10px;
        height: 10px;
        background-color: #bdbdbd;
    }

    .redblock {
        background-color: red;
    }

    .orangeblock {
        background-color: orange;
    }

    .greenblock {
        background-color: green;
    }
}

.form-control.noreadonly {
    background-color: #f8fafc !important;
}
