.extraoptions_popup {
    border: 1px solid $primary_tint_3;
    background-color: white;
    right: 0;
    top: 33px;
    z-index: 10;

    .extraoptions_popup_item {
        padding: 15px;
        display: block;
        border-bottom: 1px solid $primary_tint_3;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            background-color: $secondary_tint_4;
            color: white;
        }

        &:last-child {
            border-bottom: 0;
        }

        p {
            @extend .font5;
            margin-bottom: 0;
        }

        &.extra-red {
            color: red;

            &:hover {
                color: white;
                background-color: red;
            }
        }

        &.extra-disabled {
            color: grey;

            &:hover {
                background-color: $primary_tint_3;
                color: grey;
            }
        }
    }
}
