.kvk_popup {
    border: 1px solid $primary_tint_4;
    max-height: 400px;
    min-width: 300px;
    background-color: white;
    border-top: 0;
    overflow-y: scroll;

    .kvk_popup_item {
        padding: 15px;
        display: block;
        border-bottom: 1px solid $primary_tint_4;
        text-decoration: none;

        &:hover {
            background-color: $secondary_tint_4;
            color: white;
        }

        &:last-child {
            border-bottom: 0;
        }

        p {
            @extend .font-5;
            margin-bottom: 0;
        }
    }
}
