.multiselect {
    .multiselectinput {
        min-height: 40px;
        position: relative;
        padding-top: 0;
        padding-left: 0px;

        &-add {
            height: 24px;
            width: 24px;
            position: absolute;
            right: 10px;
            top: 6px;
            background-color: $secondary_tint_4;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .multiselectdropdown {
        height: 200px;
        border: 1px solid black;
        position: relative;
        overflow-x: scroll;
        z-index: 10;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;


            li {
                width: 100%;

                div {
                    padding: 8px 10px;

                    &.item-selected {
                        background-color: $secondary_tint_4;

                        a {
                            color: white;
                        }
                    }

                    &.cat_1-selected {
                        background-color: lighten($secondary_tint_4, 30);

                        a {
                            color: white;
                        }
                    }

                    &.cat_2-selected {
                        background-color: lighten($secondary_tint_4, 40);

                        a {
                            color: white;
                        }
                    }

                    &.cat_3-selected {
                        background-color: $secondary_tint_4;

                        a {
                            color: white;
                        }
                    }

                    &:hover {
                        background-color: $secondary_tint_4;

                        a {
                            color: white;
                        }
                    }

                }

                a {
                    display: block;
                    text-decoration: none;
                }
            }

            &.sub-menu-1 {
                li {
                    div {
                        padding-left: 25px;
                    }
                }
            }

            &.sub-menu-2 {
                li {
                    div {
                        padding-left: 40px;
                    }
                }
            }
        }
    }

    .multiselectitem {
        width: 200px;
    }

    .multiselectitem:hover > .multiselectcolumn {
        display: block !important;
    }

    .multiselectcolumn {
        position: absolute;
        top: 0;
        left: 200px;
    }

    ul.multiselect-list {
        padding: 0px 30px 5px 0;
        margin: 0;
        .multiselect-list-item {
            @extend .font-5;
            background-color: $secondary_tint_5;
            border-radius: 50px;
            color: white;

            margin-top: 5px;
            margin-left: 5px;
            padding: 1px 8px 1px 8px;

            box-sizing: border-box;
            display: inline-block;
            position: relative;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: bottom;
            white-space: nowrap;

            &:hover{
                &:hover {
                    background-color: black;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }

    .multiselectinput-add{
        height: 24px;
        width: 24px;
        position: absolute;
        right: 10px;
        top: 6px;
        background-color: white;
        border: 1px solid black !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
