@import '../../app.scss';
@import '../../admin.scss';

/* 
   Variables
*/
$table_background: #dfe5e1;
$table_background_special: #ECD9BB;
$dark-green: #024913;

body{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-left: 25px !important;
   
   /* 
      HTML elements 
   */
   th{
      font-weight: 700;
      font-size: 22px;
      line-height: 28px;
   }

   a{
      text-decoration: none;
      color: black;
   }
    
   /* 
      Table styling
   */
   td {
      border-right: 2px solid $dark-green;
      width: 100px;
   }

   td:nth-child(1) {
      width: 20%;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
   }

   td+td {
      width:35%;
   }

   td+td+td {
      text-align: start;
      width: 45%;
      p{
         font-weight: 400;
         font-size: 18px;
         line-height: 30px;
         margin-bottom: 0px;
      }
   }

   .styled-table {
      border-collapse: collapse;
      margin: 25px 0;
      width: 1450px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      border: 3px solid $dark-green;

      &.styled-table thead tr {
         background-color: $table_background;
         color: black;
         text-align: center;
      }
      
      &.styled-table th,
      &.styled-table td {
         padding: 12px 15px;
      }
      
      &.styled-table tbody tr {
         border-bottom: 1px solid $table_background;
      }
      
      &.styled-table tbody tr:nth-of-type(odd) {
         background-color: white;
      }
      &.styled-table tbody tr:nth-of-type(even) {
         background-color: $admingraybackground;
      }
      
      &.styled-table tbody tr:first-of-type {
         border-top: 2px solid $dark-green;
      }
   }
   
   .info-row-position{
      display: flex;
      flex-direction: row;
      width: 100%;
      border-right: none;
      
      p{
         &.info-col-1{
            width: 50%;
         }
      }
   }
}